//переменные (цвета, шрифты, размеры)
//Основные цвета
$mint: #d2f2e8; // Основной фон страницы
$light-gray: #4e5151c6; // Подразделы, карточки, декоративные элементы
$peach: #FFD3B6; // Кнопки, ссылки, интерактивные элементы
$powder-pink: #FFB6B9; // Малозначимые акценты, подсветка
$lavender: #E1C6FF; // Иллюстрации, фон некоторых элементов
$cream: #FFF3B0; // Разделители, подложки, мягкий свет

//Шрифты
$font-heading: 'Playfair Display', serif; // Элегантный, для заголовков
$font-body: 'Inter', sans-serif; // Лёгкий, чистый, основной текст
$font-accent: 'Pacifico', cursive; // Рукописный, для кнопок и декоративных элементов